.selected {
  background-color: red !important;
}

.cells {
  display: inline-block;
  border: solid;
  margin: 1rem;
  font-size: 2rem;
  width: 2rem;
  text-align: center;
  border-radius: 50%;
  background-color: lightgoldenrodyellow;
}

.cells2 {
  display: inline-block;
  border: solid;
  margin: 1rem;
  font-size: 2rem;
  width: 2rem;
  text-align: center;
  border-radius: 50%;
  background-color: lightgoldenrodyellow;
}

.titolo {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url();
}
#tombolaCells {
  border: solid, black;
}
